@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-color: black;
}

header{
    height: 90px;
    display: flex; /*Inicialmente, o display flex coloca todos os filhos lado a lado.
    foi usado no header porque tem a imagem que não faz parte da lista*/
    justify-content: space-around; /*faz os elemento se separarem ao máximo, mas mantendo distância das laterais
    propriedade do display flex*/
    align-items: center; /*propriedade do display flex*/
}

nav {
    width: 60%;
}

ul{
    display: flex; /*usado para colocar os li lado a lado*/
    width: 100%;
    justify-content: space-between; /*ele separa os elementos dentro do bloco pai ao  máximo possível
    (considerando a largura do bloco pai) - propriedade do display flex*/
}

li{
    list-style: none;
    color: aliceblue;
    cursor: pointer; /*permite mudar o desenho do mouse*/
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover{
    color: #d21617
}

img#logo{
    width: 150px;
    height: auto;

}


#banner{
    background-image: url('https://preview.redd.it/6092ltrt8nt71.jpg?auto=webp&s=c26d698d5d92796be9c6ab47f22dba63a7be96c3');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer{
    width: 50%;

}


#sinopse{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description{
    color:#fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button{
    width: 200px;
    height: 60px;
    background-color: #d21617;
    color:#fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none; /*pra quando clucar no botão, ele não ficar com uma borda preta*/
    margin-top: 25px;
}


.button:hover{
    background-color: #fff;
    color: #000;

}

.actor-cards-container{
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 40px;
    
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card:hover{
    transform: scale(1.02);

}

.banner-1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-o8Fmeok_fmGAXei0tgpK3zf699h7_toffA9Uzfsg8dvZOu0v5Kvq_WIDrpayq1Ltsc0&usqp=CAU');

}

.banner-2 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQygBurgyjDCVg5jKlT-5arSn7pncHCJpnZDQ&usqp=CAU');
}

.banner-3 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwlcpKJhVGEc6ZLS_OR8IIwajhJFTiP0etnQ&usqp=CAU');

}

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span{
    color:#fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

footer{
    margin-top: 50px;
}


.footer-navigation{
    display: none;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation{
        display: block;
    }

    nav{
        display: none;
    }

    #banner{
        background-position: 40%;
    }

    #trailer-container{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content{
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer{
        width: 100%;
    }

    #sinopse{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description{
        width: 100%;
    }

    .button{
        width: 100%;
        margin-top: 30px;
    }

    .cards-content{
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}


/*Página de Fotos*/

.descriptionMenu{
    
    border-radius: 50% 50%;
    margin-bottom: 10px;

    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d21617;    
    color:#fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}

.galery-container{
    background-image: url('./Galery/sinal.jpg');  
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 90% 80%;

    width: 100%;
    border-radius: 5px;
    display: flex; /*dita que os filhos devem ficar centralizados na vertical*/
    flex-direction: column;
    align-items: center;
    
   
}

.galery{
    border-radius: 5px;
    background: none;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 30px;  
    

}

.foto{  
    
    width: fit-content;
    height: fit-content;
    margin: 10px;  
    border-radius: 5px;
    
}

.photo{
    
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: 2s;

}

.photo:hover{
    transform: scale(2);
}

/*Página de contato*/
.contato{
    background-image: url('./Galery/letter-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 800px;
    height: 550px;
    background-color: #d21617;
    position: relative;   
    padding: 10px; 
    margin-left: 100px;   
    border-radius: 10px;
}

aside{
    position: absolute;
    left: 100%;
}

section{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

form label{
    
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

form div{
    
    display: flex;
    flex-direction: column; 
    margin-bottom: 30px;
}

form input{
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    color:#fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.botao{
    margin-left: 20px;
    background-color: #d21617;
    cursor: pointer;
}

#fan{
    position: relative;
    top: 0;
    left: 2px;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
